$color-green: #4bc800;

.nav-bar-container {
  background: #323232;
  position: fixed;
  height: 100%;
  max-width: 170px;
  width: 100%;

  .sub-menu-title {
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 13px;
    color: grey;
  }

  .nav-bar-header {
    padding: 15px 10px;

    .notifications-wrapper {
      position: relative;

      .not-icon {
        color: #fff;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }

      .not-content {
        position: absolute;
        background: #fff;
        width: 350px;
        left: calc(100% + 5px);
        top: 0;
        border-radius: 8px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
        border: 1px solid rgba(0, 0, 0, .1);
        max-height: 600px;
        overflow-y: auto;

        .not-header {
          padding: 15px;
          font-size: 11px;
          color: #000;

          button {
            font-size: 11px;
            font-weight: 600;
            color: $color-green;
          }
        }

        .not-list {

          span {
            color: #000;
            font-size: 13px;
            line-height: 20px;
          }

          button {
            color: $color-green;
            font-size: 11px;
            margin-top: 5px;
          }

          li {
            border-radius: 8px;
            padding: 5px 15px;
            margin: 0 5px 10px;
          }

          li:hover {
            background: #cecece47;
          }
        }
      }
    }
  }

  .nav-list {
    margin-bottom: 15px;
    padding: 0 10px;

    a {
      color: #d6d6d6;
      white-space: nowrap;
      font-size: 14px;
      text-decoration: none;

      .icon-style {
        font-size: 20px;
        height: 20px;
        width: 20px;
        margin-right: 5px;
        color: #d6d6d6;
      }
    }

    a:hover {
      color: #fff;

      .icon-style {
        color: #fff;
      }
    }

    a.active-class {
      background: #7d7d7d91;
      padding: 5px;
      margin: -5px;
      border-radius: 7px;
      color: #fff;

      .icon-style {
        color: #fff;
      }
    }
  }
}

.nav-bar-container.isMobile {
  width: 40px;
}
