<div class="nav-bar-container" [ngClass]="{'isMobile' : uiService.isMobile()}">
  <div class="nav-bar-header" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="center center">
    <h4 *ngIf="uiService.isDesktop()">Time Tracker</h4>
    <h4 *ngIf="uiService.isMobile()">T</h4>
    <div *ngIf="uiService.isDesktop()" (clickOutside)="isNotificationsOpen = false">
      <div class="notifications-wrapper">
        <button (click)="isNotificationsOpen = !isNotificationsOpen">
          <i class="material-icons not-icon">notifications</i>
        </button>
        <div class="not-content" *ngIf="isNotificationsOpen">
          <div class="not-header" fxLayout="row" fxLayoutAlign="space-between center">
            <p>NOTIFICATIONS</p>
            <button>MARK ALL AS READ</button>
          </div>
          <ul class="not-list">
            <li fxLayout="column"
                fxLayoutAlign=" start"
                *ngFor="let notification of notifications">
              <span>{{notification}}</span>
              <button>Read More</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div *ngFor="let items of submenuItems">
      <p class="sub-menu-title" *ngIf="items.title !== null && uiService.isDesktop()">{{items.title}}</p>
      <ul>
        <li *ngFor="let item of items.children" class="nav-list">
          <a [routerLink]="item.path" routerLinkActive="active-class" fxLayout="row" fxLayoutAlign=" center">
            <i class="material-icons icon-style"> {{item.iconName}}</i>
            <span *ngIf="uiService.isDesktop()">{{ item.name }}</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

